@model ShoppingCart

@if (Model.CartItems.Count()>0)
{
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "ShoppingCart")'">
  Корзина <span class="badge bg-secondary">@Model.GetCount()</span>
</button>
}


