@model IdentityUser

<h4>Личный кабинет</h4>

<div class="container">
    <form>
        <label>Логин</label>
        <p>@Model.UserName</p>
        <label>Email</label>
        <p>@Model.Email</p>
        <label>Телефон</label>
        <p>@Model.PhoneNumber</p>
    </form>
</div>

@if (User.Identity.Name == "admin")
{
    <a asp-controller="Admin" asp-action="Index">AdminPage</a>
}
<br>
<a asp-controller="Account" asp-action="Logout">Log Out</a>
