@model RegisterViewModel


<h4>Регистрация</h4>

<form method="post">
  <div class="col-3">
    <label class="form-label">Логин</label>
    <input type="text" asp-for="Login" class="form-control" />
    <span asp-validation-for="Login"></span>
  </div>

    <div class="col-3">
    <label class="form-label">Почта</label>
    <input type="text" asp-for="Email" class="form-control" />
    <span asp-validation-for="Email"></span>
  </div>

  <div class="col-3">
    <label class="form-label">Пароль</label>
    <input type="password" asp-for="Password" class="form-control"/>
    <span asp-validation-for="Password"></span>
  </div>

  <div class="col-3">
    <label class="form-label">Подтвердить пароль</label>
    <input type="password" asp-for="PasswordConfirm" class="form-control"/>
    <span asp-validation-for="PasswordConfirm"></span>
  </div>

    <div class="col-3">
    <label class="form-label">Телефон</label>
    <input type="tel" asp-for="Phone" class="form-control"/>
  </div>

      <div class="col-3">
    <label class="form-label">Дата рождения</label>
    <input type="date" asp-for="BirthDay" class="form-control"/>
  </div>
  <button type="submit" class="btn btn-primary btn-block mx-auto my-2">Зарегистрироваться</button>
</form>


