@model RegisterViewModel

<div>
    <div>
        <h2>Регистрация</h2>
    </div>
    <div>
        <form method="post">
            <p>Login</p>
            <input asp-for="Login"/>
            <span asp-validation-for="Login"></span>
            <p>Password</p>
            <input asp-for="Password"/>
            <span asp-validation-for="Password"></span>
            <p>Confirm Password</p>
            <input asp-for="PasswordConfirm"/>
            <span asp-validation-for="PasswordConfirm"></span>
            <p>Email</p>
            <input asp-for="Email"/>
            <span asp-validation-for="Email"></span>
            <p>Phone number</p>
            <input asp-for="PhoneNumber"/>
            <span asp-validation-for="PhoneNumber"></span>
            <p>Birthday</p>
            <input asp-for="BirthDay"/>
            <span asp-validation-for="BirthDay"></span>
            <p></p>
            <button type="submit">Register</button>
        </form>
    </div>
</div>


