@model Product

<form method="post" asp-action="CreateProduct">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Создать продукт</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col">
                        <label asp-for="Title"></label>
                    </div>
                    <div class="col">
                        <label asp-for="Subtitle"></label>
                    </div>
                    <div class="col">
                        <label asp-for="Text"></label>
                    </div>
                    <div class="col">
                        <label asp-for="Price"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <input asp-for="Title" class="form-control" />
                    </div>
                    <div class="col">
                        <input asp-for="Subtitle" class="form-control" />
                    </div>
                    <div class="col">
                        <input asp-for="Text" class="form-control" />
                    </div>
                    <div class="col">
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 row my-3">
                        <div class="col">
                            <input type="submit" class="btn btn-success w-75" value="Создать" />
                        </div>
                        <div class="col">
                            <a asp-action="EditProducts" class="btn btn-danger w-75 mx-3">Назад</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
