<h1>AdminPage</h1>

<div>
    <a class="nav-link" asp-controller="Admin" asp-action="EditUsers">Редактировать пользователей</a>
    <a class="nav-link" asp-controller="Admin" asp-action="EditProducts">Редактировать товары</a>
</div>


